/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* body */
body {
    background-color: rgb(253, 249, 249);
    margin: 30px 0px 0px 0px;
    padding: 0px;
}

main {
    margin-top: 30px;
    width: 1000px;
    margin: 0 auto;

}

.first-section {
    width: 100%;
    background-color: rgb(2, 34, 34);
    border-radius: 20px;
}

/* ----Foot ball Animation Style-------- */

/* Key Frame for football animaton */
@keyframes slider {
    0% {

        left: 0px;
        top: 0px;
    }

    25% {

        left: 20px;
        top: 0px;
    }

    50% {

        left: 40px;
        top: 120px;
    }

    75% {

        left: 60px;
        top: 0px;
    }

    100% {

        left: 80px;
        top: 0px;
    }
}

/* ......Key frame end....... */

.football {
    width: 80px;
    height: 50px;
}

.football img {
    height: 55px;
    width: 80px;
    animation: slider 2s ease-in 0s infinite alternate;
    animation-play-state: running;
    position: relative;
}

.section-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 8px;
    align-items: center;
    height: 450px;
    padding-left: 20px;
    margin-bottom: 30px;


}

.half-width {
    width: 100%;
    /* padding-left: 55px; */

}

.half-width img {
    width: 82.3%;
    height: 100%;
    padding: 0px;
}

.Fifa {
    color: white;
    width: 80%;
    height: 80%;
}

.Fifa-title {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
    font-style: unset;
    margin-bottom: 0px;
}

.Fifa-info {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;

}

.live-show-link a {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
}

/*-------- Second secton start from here----- */
.second-section {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-column-gap: 5px;

}

/*----------------- Side nav bar start */
.menu {
    margin-top: 4px;
    height: 238.5px;
    background: rgba(27, 32, 32, 0.874);
    border-radius: 10px;
}

.side-nav {
    width: 238px;
    text-align: center;

}

.side-nav a {
    font-family: 'Poppins', sans-serif;
    width: 180px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 13px;
    text-decoration: none;
    color: black;
    background-color: rgb(250, 252, 252);
    display: block;
    border: 1px none salmon;
    border-radius: 10px;
}

.side-nav a:hover {
    background-color: darkcyan;
    color: white;
}

/*------------------ Nav bar is end */
.all-blogs {
    margin-top: -px;
    padding-bottom: 50px;
}

.blog {
    border: 1px solid rgb(215, 214, 214);
    margin: 4px;
    border-radius: 10px;
    background-color: #cec7ad14;

}

.blog img {
    width: 240px;
}

.blog-info {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgb(66, 63, 63);
}

.blog p {
    padding-left: 14px;
}

.icons {
    display: flex;

}

.icon {
    padding-left: 20px;
}

.all-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 4px;
}

footer {
    background-color: black;
    width: 100%;
    height: 320px;
}

.fotter-section {
    text-align: center;
    color: white;
    padding-top: 50px;
}

.goal {
    font-family: 'Poppins', sans-serif;

}

/* contact path(nav) styles */
.fotter-section a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 4px;
    margin: 0px 10px;
    color: rgb(167, 163, 163);
    font-size: 14px;
}

.span {
    padding-top: 50px;
}

.contact span {
    padding: 4px;
    font-size: 20px;

}

/* -------------Media Query for Mobile---------------- */
@media only screen and (max-width:688px) {
    main {
        width: 100%;
    }

    .first-section {
        background-color: rgb(4, 35, 35);
        width: 100%;
    }

    .section-details {
        grid-template-columns: repeat(1, 0fr);
        height: 100%;
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .Fifa {
        width: 100%;
        height: 100%;
    }

    .half-width {
        padding-left: 0px;
        height: 100%;
        width: 100%;
    }

    .second-section {
        display: grid;
        grid-template-columns: repeat(1, 0fr);
        text-align: center;
        justify-content: center;

    }

    .menu {
        background-color: white;
    }

    .side-nav {
        width: 100%;
        text-align: center;

    }

    .side-nav a {
        border: 1px solid black;
    }

    .all-blogs {
        display: grid;
        grid-template-columns: repeat(1, 0fr);
    }

    footer {
        background-color: black;
        width: 100%;
        height: auto;
    }

    .fotter-section .contact a {
        display: grid;
        grid-template-rows: repeat(7, 0fr);
        text-align: center;
        margin-top: 10px;
    }

    #icon {
        display: grid;
        grid-template-columns: repeat(4, 0fr);
        justify-content: center;
    }
}


/* -------------Media Query for Tablet ---------------- */
@media only screen and (min-width:688px) and (max-width:912px) {
    main {
        width: 80%;
    }

    .first-section {
        background-color: rgb(4, 35, 35);
        width: 100%;
    }

    .half-width {
        height: 80%;
    }

    .Fifa h1 {

        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 700;
        font-style: unset;
        margin-bottom: 0px;
    }

    .Fifa-info {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 8px;
    }

    .half-width img {

        width: 80%;
        height: 80%;
    }

    .second-section {
        display: grid;
        grid-template-columns: repeat(1, 0fr);
        text-align: center;
        justify-content: center;

    }

    .menu {

        background-color: white;
        height: 100px;

    }

    .nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }


    .side-nav {
        width: 100%;
        text-align: center;

    }

    .side-nav a {
        margin: 2px;
        border: 1px solid black;
    }


    .all-blogs {
        margin-top: 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .blog p {
        margin: 3px;
        text-align: left;

    }

    .blog img {
        width: 100%;
    }

    footer {
        background-color: black;
        width: 100%;
        height: auto;
    }

    .contac {}

    .fotter-section .contact a {
        justify-content: space-between;
        text-align: center;
        margin-top: 10px;
    }

    #icon {
        display: grid;
        grid-template-columns: repeat(4, 0fr);
        justify-content: center;
    }


}